[Unit]
Description=SSH key agent

[Service]
Type=simple
# %t: Runtime directory root. This is either /run/ (for the system manager) or the path "$XDG_RUNTIME_DIR" resolves to (for user managers).
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
Environment=DISPLAY=:0
# -D = Foreground mode. When this option is specified, ssh-agent will not fork. - Allows systemd to manage the service completely instead of just starting it and nothing else
# -a bind_address = Bind the agent to the Unix-domain socket bind_address. The default is $TMPDIR/ssh-XXXXXXXXXX/agent.<ppid>.
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
