# vi: ft=systemd-unit-file

[Unit]
Description=Network copy backend for tmux (Service accepting input)

[Service]
Type=simple
ExecStart={{ env "HOME" }}/.local/bin/yank
StandardInput=socket
StandardOutput=socket
