{{- $codespaces:= env "CODESPACES" | not | not -}}
---
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: S1LV3R
  email: s1lv3r@corax.team
{{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
  ostype: "wsl"
{{- else }}
  ostype: "{{ .chezmoi.os }}"
{{- end }}
  codespaces: {{ $codespaces }}
