{{- $gitusername := promptString "Git username" "theS1LV3R" | quote -}}
{{- $gitemail := promptString "Email" "me@s1lv3r.codes" | quote -}}
{{- $gitgpgsign := promptBool "Enable git gpg signing" false -}}

{{- $gitsignkey := "" -}}
{{- if eq $gitgpgsign true -}}
{{-   $gitsignkey = promptString "Git signing key" "85FA2FC2D8035859AE77FF6E636660BB3A5C2F87"  -}}
{{- end -}}

{{- $hasGui := promptBool "Does the machine have a GUI" false -}}

{{- $ostype := eq .chezmoi.os "linux" | and (.chezmoi.kernel.osrelease | lower | contains "microsoft") | ternary "wsl" .chezmoi.os -}}
{{- $isdebian := stat "/etc/debian_version" | not | not -}}
---
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: {{ $gitusername }}
  email: {{ $gitemail }}
  gitgpgsign: {{ $gitgpgsign }}
  gitsignkey: {{ $gitsignkey }}
  codespaces: {{ env "CODESPACES" | not | not }}
  tmuxCopyBackendPort: 30594
  hasGui: {{ $hasGui }}
  ostype: {{ $ostype }}
  isdebian: {{ $isdebian }}
