[submodule "antigen"]
    path = antigen
    url = https://github.com/zsh-users/antigen
[submodule "zsh_plugins/zsh-autocomplete"]
	path = zsh_plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
