# For easier folder management in scripts. Will be fixed eventually
# so it loads dynamically from where the dotfiles are located
export DOTFILES_DIR={{ .chezmoi.sourceDir }}
export SCRIPTS_DIR=$DOTFILES_DIR/scripts

# Load antigen (Plugin manager)
source $DOTFILES_DIR/antigen/antigen.zsh

# p10k (Prompt)
source $SCRIPTS_DIR/p10k.init.zsh

# Everything else zsh related
source $SCRIPTS_DIR/zsh.init.zsh

# Load custom completions
antigen bundle $DOTFILES_DIR/completions

# P10K theme
antigen theme romkatv/powerlevel10k

# Various other stuff
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions

antigen apply
unset SCRIPTS_DIR
unset DOTFILES_DIR
