#zmodload zsh/zprof
zmodload zsh/complist
autoload -Uzd compinit bashcompinit
compinit

export DOTFILES_DIR={{ .chezmoi.sourceDir }}
export SCRIPTS_DIR="$HOME/.config/zsh"

#! SOURCE **BEFORE** ANTIGEN
#! IMPORTANT
source $SCRIPTS_DIR/zsh-autocomplete.zsh

# Load antigen (Plugin manager)
source $DOTFILES_DIR/antigen/antigen.zsh

export GPG_TTY=$(tty)

# p10k (Prompt)
source $SCRIPTS_DIR/p10k.init.zsh

# Everything else zsh related
source $SCRIPTS_DIR/zsh.init.zsh

# Load custom completions
antigen bundle $SCRIPTS_DIR/completions

# P10K theme
antigen theme romkatv/powerlevel10k

# Various other stuff
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle pip
antigen bundle aws
antigen bundle command-not-found
antigen bundle docker-compose
antigen bundle docker
antigen bundle node
antigen bundle gitignore
antigen bundle git
antigen bundle aliases
antigen bundle archlinux

antigen apply
