nodejs      23.6.0 {{- /* https://nodejs.org */}}
golang      1.21.4  {{- /* https://go.dev/dl/ */}}
opentofu    1.7.1   {{- /* https://github.com/opentofu/opentofu */}}
lazygit     0.40.2  {{- /* https://github.com/jesseduffield/lazygit/releases/latest */}}

rust        system
python      system
java        system
ruby        system

{{ if (eq .chezmoi.arch "amd64") -}}
{{/*
> Deno works on macOS, Linux, and Windows. Deno is a single binary executable. It has no external dependencies.
> On macOS, both M1 (arm64) and Intel (x64) executables are provided.
> **On Linux and Windows, only x64 is supported.**
https://deno.com/manual/getting_started/installation
*/ -}}
deno        1.38.2  {{- /* https://deno.com/ */}}
{{ end -}}

{{ if .isDebian -}}
{{/* We only need neovim and lazydocker in debian-based systems, on arch its provided by the aur */ -}}
neovim      0.9.4                                                   {{- /* https://github.com/neovim/neovim/releases/latest */}}
lazydocker  0.23.1 # https://github.com/comdotlinux/asdf-lazydocker {{- /* https://github.com/jesseduffield/lazydocker/releases/latest */}}
{{ end -}}
