# Avoid leaking information
no-emit-version
no-comments

# Display the long format of the ID of the keys and their fingerprint
keyid-format 0xlong
with-fingerprint
with-fingerprint

# Displays the validity of the keys
list-options show-uid-validity
verify-options show-uid-validity

###+++--- GPGConf ---+++###
utf8-strings
log-file socket://{{ env "XDG_STATE_HOME" }}/log-socket
###+++--- GPGConf ---+++### ti. 17. mai 2022 kl. 00.08 +0200 CEST
# GPGConf edited this configuration file.
# It will disable options before this marked block, but it will
# never change anything below these lines.
