#!/usr/bin/env bash
# vi: ft=bash:ts=4:sw=4

set -euo pipefail

repo=https://github.com/z-shell/zi.git
dir="$HOME/.local/share/zi"

mkdir -p "$dir"

if [[ -d "$dir/bin" ]]; then
    rm -rf "${dir:?}/bin"
fi

git clone "$repo" "$dir/bin"
