# vi: ft=gitconfig
[core]
    autocrlf = false
    eol = lf
    editor = nvim

[user]
    name = {{ .name }}
    email = {{ .email }}
{{- if .gitgpgsign  }}
    signingkey = 85FA2FC2D8035859AE77FF6E636660BB3A5C2F87

[commit]
    gpgsign = true
{{- end }}

[gpg]
{{- if lookPath "gpg2" }}
    program = gpg2
{{- else }}
    program = gpg
{{- end }}

[push]
    autoSetupRemote = true

[pull]
    rebase = false

[color]
    ui = auto

[init]
    defaultBranch = master

[feature]
    manyFiles = true

[includeIf "gitdir:~/kode/machina/"]
    path = ~/kode/machina/.gitconfig

[alias]
    lg1 = log --color --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s' --abbrev-commit
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(red)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''           %C(dim white)<%an> -%C(reset) %C(white)%s%C(reset)' --all
    lg = lg2

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[submodule]
    recurse = true

[url "ssh://aur@aur.archlinux.org/"]
    insteadOf = aur://

[url "https://github.com/"]
    insteadOf = gh-https://
    insteadOf = github-https://

# Imma be honest I have no idea why i need an additional / at the end here but it wont work without it
[url "ssh://git@github.com:/"]
    insteadOf = gh://
    insteadOf = github://
