# vi: ft=zsh
# shellcheck shell=bash

#zmodload zsh/zprof

zmodload zsh/complist
autoload -U compinit && compinit -d ~/.cache/zcompdump
autoload -U bashcompinit && bashcompinit -d ~/.cache/zbashcompdump

export DOTFILES_DIR="{{ .chezmoi.sourceDir }}"
export SCRIPTS_DIR="${HOME}/.config/zsh"
# shellcheck disable=SC2155
export GPG_TTY=$(tty)
# shellcheck disable=SC2206
export fpath=("${SCRIPTS_DIR}/completions" ${fpath})

# Zi options
declare -A ZI

ZI[HOME_DIR]="${DOTFILES_DIR}/zi"
ZI[BIN_DIR]="${ZI[HOME_DIR]}/bin"

export zi_home="${ZI[HOME_DIR]}"
# shellcheck source=/dev/null
source "${zi_home}/bin/zi.zsh"

autoload -Uz _zi
(( ${+_comps} )) && _comps["zi"]=_zi

# shellcheck source=zsh-autocomplete.zsh
source "${SCRIPTS_DIR}/zsh-autocomplete.zsh"

if [[ "${TERM}" == "linux" ]]; then
    # shellcheck source=/dev/null
    source "${SCRIPTS_DIR}/zshrc/basic-prompt.zsh"
else
    # shellcheck source=/dev/null
    source "${SCRIPTS_DIR}/p10k.init.zsh"
fi

# shellcheck source=zsh.init.zsh
source "${SCRIPTS_DIR}/zsh.init.zsh"

# P10K theme
zi ice if"[ ${TERM##*-} = '256color' ] || [ ${terminfo[colors]:?} -gt 255 ]" depth=1
zi light romkatv/powerlevel10k

# Various other stuff
zi load zsh-users/zsh-syntax-highlighting
zi load zsh-users/zsh-autosuggestions
zi load zsh-users/zsh-completions

omz_plugins=(
    pip
    aws
    command-not-found
    docker
    docker-compose
    node
    git
    aliases
    archlinux
)

for plugin in "${omz_plugins[@]}"; do
    zi snippet "OMZP::${plugin}"
done

zi light-mode for z-shell/z-a-meta-plugins @annexes

zicompinit

