[Setting]
current_theme           = marketplace
overwrite_assets        = 1
spotify_launch_flags    =
prefs_path              = {{ env "XDG_CONFIG_HOME" }}/spotify/prefs
check_spicetify_upgrade = 1
spotify_path            = /opt/spotify
color_scheme            =
inject_theme_js         = 1

# For marketplace
inject_css              = 1
replace_colors          = 1

[Preprocesses]
remove_rtl_rule       = 1
expose_apis           = 1
disable_upgrade_check = 1
disable_sentry        = 1
disable_ui_logging    = 1

[AdditionalOptions]
experimental_features = 1
extensions            =
custom_apps           = marketplace|lyrics-plus
sidebar_config        = 1
home_config           = 1

[Patch]

[Backup]
