# vi: ft=tmux:ts=2:sw=2
# shellcheck disable=all

################
# Tmux options #
################
# -g = set a global session option
# -s = change server (not session) options
# -a = append to string options
set  -g  history-limit      50000                 # Maximum number of lines held in window history.
set  -g  buffer-limit       20                    # Number of buffers
set  -g  base-index         1                     # Base index from which an unused index should be searched when a new window is created.
setw -g  pane-base-index    1                     # Like base-index, but set the starting index for pane numbers.
set  -g  display-time       1500                  # Amount of time for which status line messages and other on-screen indicators are displayed.
set  -g  default-terminal   'tmux-256color'       # Default terminal for new windows created in this session - the default value of the TERM environment variable.
set  -g  remain-on-exit     off                   # A pane with this flag set is not destroyed when the program running in it exits.
set  -g  set-titles         on                    # Attempt to set the client terminal title using the tsl and fsl terminfo(5) entries if they exist.
set  -g  focus-events       on                    # When enabled, focus events are requested from the terminal if supported and passed through to applications running in tmux.
set  -g  mouse              on                    # Support xterm(1) mouse sequences.
set  -g  cursor-style       blinking-bar          # Style of the cursor.
set  -sg escape-time        10                    # Time in milliseconds for which tmux waits after an escape is input to determine if it is part of a function or meta key sequences. - See https://github.com/microsoft/WSL/issues/5931
set  -s  set-clipboard      on                    # Allows setting the system clipboard.
set  -sa terminal-overrides ',xterm-256color:Tc'  # Allow terminal descriptions from terminfo(5) to be overridden.

#############
# Keybinds #
#############
# -T <key-table> = Specify key table for the binding. Default is prefix key table, e.g. ^B + <key>
bind -T copy-mode-vi Enter              send-keys -X copy-pipe-and-cancel             # Copy and clear selection
bind -T copy-mode    Enter              send-keys -X copy-pipe-and-cancel
bind -T copy-mode-vi MouseDragEnd1Pane  send-keys -X copy-pipe-no-clear               # Copy but don't remove selection
bind -T copy-mode    MouseDragEnd1Pane  send-keys -X copy-pipe-no-clear
bind -T copy-mode-vi MouseDown1Pane     send-keys -X clear-selection \; select-pane   # Clear selectrion and select the clicked pane
bind -T copy-mode    MouseDown1Pane     send-keys -X clear-selection \; select-pane

bind s set synchronize-panes \; display-message 'Toggled syncronize-panes'

######################################
# tmux-plugins/tmux-prefix-highlight #
######################################
set -g @prefix_highlight_prefix_prompt  '^b'    # Show ^b when in prefix mode
set -g @prefix_highlight_show_copy_mode 'on'    # Show distinct text when in copy mode
set -g @prefix_highlight_copy_prompt    'copy'  # Show "copy" when in copy mode

########################
# jimeh/tmux-themepack #
########################
set -g @themepack 'powerline/block/gray'

###############
# tpm plugins #
###############
set -g @plugin 'tmux-plugins/tpm'

set -g @plugin 'jimeh/tmux-themepack'               # Pack with a lot of themes
set -g @plugin 'tmux-plugins/tmux-sensible'         # Sensible defaults
set -g @plugin 'b0o/tmux-autoreload'                # Reload tmux on file changes
set -g @plugin 'MunifTanjim/tmux-mode-indicator'    # Mode indicator
set -g @plugin 'tmux-plugins/vim-tmux-focus-events' # Focus events
set -g @plugin 'tmux-plugins/tmux-prefix-highlight' # Prefix highligh
set -g @plugin 'tmux-plugins/tmux-continuum'        # Continuum (save and restore)

################################
# Environment and finalization #
################################
set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.local/share/tmux/plugins' # https://github.com/tmux-plugins/tpm/blob/master/docs/changing_plugins_install_dir.md
set-environment -g ENTR_INOTIFY_WORKAROUND  true                          # Allow for entr (required by some plugins i believe) to work in WSL environments

# -E = close the popup when the command exits
if "test ! -d ~/.local/share/tmux/plugins/tpm" \
  "display-popup -E ~/.config/tmux/install_tpm.sh"

run '~/.local/share/tmux/plugins/tpm/tpm'
