if [[ -f /usr/bin/lsd ]] then;
    alias ls='lsd --color=auto'
fi;

# ls aliases
alias ll='ls -l'
alias la='ls -A'
alias l='ls -F'
alias lah='ls -lah'

# Nvim alias for vim
if (( $+commands[nvim] )); then alias vim='nvim'; fi;
if (( $+commands[bat]  )); then alias cat='bat' ; fi;

# Termbin
alias tb='nc termbin.com 9999'

# Systemctl aliases
alias start="sudo systemctl start "
alias restart="sudo systemctl restart "
alias stop="sudo systemctl stop "
alias enable="sudo systemctl enable "
alias disable="sudo systemctl disable "
alias mask="sudo systemctl mask "
alias unmask="sudo systemctl unmask "
alias status="sudo systemctl status "
alias reload="sudo systemctl reload "

# Path
alias  path="echo  $PATH | sed 's/:/\n/g'"
alias fpath="echo $FPATH | sed 's/:/\n/g'"

if [[ -f /opt/asdf-vm/asdf.sh ]]; then
    . /opt/asdf-vm/asdf.sh
else
    . $HOME/.asdf/asdf.sh
fi

if (( $+commands[ptpwd] )); then
    alias pwd='ptpwd'
fi

if (( $+commands[ptcp] )); then
    alias cp='ptcp'
fi


alias jwt="jq -R 'split(\".\") | select(length > 0) | .[0],.[1] | @base64d | fromjson'"
alias grep='grep --color'
alias c=clear

{{- if eq "wsl" .ostype }}
alias open="explorer.exe"
{{- else }}
alias open='xdg-open'
{{- end }}
