(( $+commands[nvim] )) && alias vim='nvim'
(( $+commands[bat]  )) && alias cat='bat'
(( $+commands[ls] ))   && alias ls='lsd --color=auto'
(( $+commands[bat] ))  && alias pcat='bat --paging=never -p'

# ls aliases
alias ll='ls -l'
alias la='ls -A'
alias l='ls -F'
alias lah='ls -lah'

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias diff='diff --color=auto'
alias ip='ip --color=auto'

# Termbin
alias tb='nc termbin.com 9999'

# Systemctl aliases
alias start="sudo systemctl start "
alias restart="sudo systemctl restart "
alias stop="sudo systemctl stop "
alias enable="sudo systemctl enable "
alias disable="sudo systemctl disable "
alias status="sudo systemctl status "
alias reload="sudo systemctl reload "

# (( $+commands[ptpwd] )) && alias pwd='ptpwd'
# (( $+commands[ptcp] )) && alias cp='ptcp'

if (( $+commands[paru] )) && (( ! $+commands[yay] )); then
  alias yay=paru
else if (( ! $+commands[paru] )) && (( $+commands[yay] ))
  alias paru=yay
fi

alias jwt="jq -R 'split(\".\") | select(length > 0) | .[0],.[1] | @base64d | fromjson'"
alias grep='grep --color'
alias c="clear -x"
alias define=dict
alias clock="tty-clock -sScbn"
alias serial="sudo mintty"

alias wgup="sudo wg-quick up"
alias wgdown="sudo wg-quick down"

{{- if eq "wsl" .ostype }}
alias open="explorer.exe"
{{- else }}
alias open='xdg-open'
{{- end }}
