#!/usr/bin/env bash
# vi: ft=bash:ts=4:sw=4

set -euo pipefail

repo=https://github.com/rcaloras/bash-preexec.git
dir="$HOME/.local/share/bash-preexec"

rm -rfv "$dir" || true
mkdir -vp "$dir"

git clone "$repo" "$dir"
