#!/usr/bin/env bash
# vi: ft=bash:ts=4:sw=4

set -euo pipefail

readonly repo=https://github.com/rcaloras/bash-preexec.git
readonly dir="$HOME/.local/share/bash-preexec"

rm -rfv "$dir" || true
mkdir -vp "$dir"

(
    # Ensures proper working directory
    cd "$dir"
    git clone "$repo" .
)
