#!/usr/bin/env bash
# vi: ft=bash:ts=4:sw=4

set -euo pipefail

readonly repo=https://github.com/rcaloras/bash-preexec.git
readonly dir="$HOME/.local/share/bash-preexec"

rm --recursive --force --verbose "$dir" || true
# --parents = Create all parent dirs up to the specified directory
mkdir --verbose --parents "$dir"

(
    # Ensures proper working directory
    cd "$dir"
    git clone "$repo" .
)
